.nav-button {
  position: relative;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* the underline */
.nav-button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px; /* spacing under text */
  width: 100%;
  height: 4px;
  background-color: currentColor;

  /* animation setup */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease;
}

/* hover animation */
.nav-button:hover::after {
  transform: scaleX(1);
}

/* selected state keeps underline visible */
.nav-button.is-selected::after {
  transform: scaleX(1);
}

.primary-button {
  display: block;
  box-sizing: border-box;
}

.secondary-button {
  display: block;
  box-sizing: border-box;
}

.primary-button:active {
  margin: 2px -2px -2px 2px;
  box-shadow: 4px 4px 0 0 var(--color-black);
}

.secondary-button:active {
  margin: 2px -2px -2px 2px;
  box-shadow: 4px 4px 0 0 var(--color-black);
}

