.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5); /* dim background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    pointer-events: auto;
}

.modal-animation {
    transform: translate(-2px, -2px); /*to account for drop shoadow as well */
    opacity: 0;
    animation: fadeIn 400ms ease-out forwards;
}

.modal-background {
    height: fit-content;
    width: 506px;
    max-width: calc(100vw - 32px);
    box-sizing: border-box;
}

.modal-text-container {
    width: 100%;
    min-height: 36px;
}

.modal-content {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    pointer-events: auto;
}
.content-animation {
    transform: translateY(10px);
    opacity: 0;
    animation: slideIn 500ms ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
