/* Overlay */
.sheet-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 999;
}

.sheet-overlay.visible {
  opacity: 1;
  visibility: visible;
}

/* Drawer Base Styles */
.sheet-drawer {
    position: fixed;
    z-index: 1000;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    overflow: auto;
    box-sizing: border-box;
}

/* MOBILE: bottom sheet */
@media (max-width: 1032px) {
  .sheet-drawer {
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 80%;
    transform: translate(-50%, 100%);
  }

  .sheet-drawer.open {
    transform: translate(-50%, 0);
  }
}

/* DESKTOP: right drawer */
@media (min-width: 1032px) {
  .sheet-drawer {
    top: 0;
    right: 0;
    height: 100%;
    width: 20%;
    transform: translateX(100%);
    border-top-left-radius: 1rem; /* br-l-lg */
    border-bottom-left-radius: 1rem;
  }

  .sheet-drawer.open {
    transform: translateX(0);
  }
}
