/* display */
.flex {display: flex;}
.col {display: flex; flex-direction: column;}
.row {display: flex; flex-direction: row;}
.align-center {display: flex; align-items: center;}
.align-start {display: flex; align-items: flex-start;}
.align-end {display: flex; align-items: flex-end;}
.justify-center {display: flex; justify-content: center;}
.justify-start {display: flex; justify-content: flex-start;}
.justify-end {display: flex; justify-content: flex-end;}
.justify-between {display: flex; justify-content: space-between;}

/* padding */
.pad-md { padding: var(--spacing-md); }
.pad-lg { padding: var(--spacing-lg); }
.pad-xl { padding: var(--spacing-xl); }
.pad-xxl { padding: var(--spacing-xxl); }
.pad-xxxl { padding: var(--spacing-xxxl); }

.pad-x-md { padding-left: var(--spacing-md); padding-right: var(--spacing-md);}
.pad-x-lg { padding-left: var(--spacing-lg); padding-right: var(--spacing-lg);}
.pad-x-xl { padding-left: var(--spacing-xl); padding-right: var(--spacing-xl);}
.pad-x-xxl { padding-left: var(--spacing-xxl); padding-right: var(--spacing-xxl);}
.pad-x-xxxl { padding-left: var(--spacing-xxxl); padding-right: var(--spacing-xxxl);}

.pad-y-md { padding-top: var(--spacing-md); padding-bottom: var(--spacing-md);}
.pad-y-lg { padding-top: var(--spacing-lg); padding-bottom: var(--spacing-lg);}
.pad-y-xl { padding-top: var(--spacing-xl); padding-bottom: var(--spacing-xl);}
.pad-y-xxl { padding-top: var(--spacing-xxl); padding-bottom: var(--spacing-xxl);}
.pad-y-xxxl { padding-top: var(--spacing-xxxl); padding-bottom: var(--spacing-xxxl);}

/* border radius */
.br-md { border-radius: var(--radius-md); }

/* gap */
.gap-xs { gap: var(--spacing-xs); }
.gap-sm { gap: var(--spacing-sm); }
.gap-md { gap: var(--spacing-md); }
.gap-lg { gap: var(--spacing-lg); }
.gap-xl { gap: var(--spacing-xl); }
.gap-xxl { gap: var(--spacing-xxl); }