.letter-field-input {
    border: transparent;
    display: flex;
    width: 100%;           /* full width of container */
    box-sizing: border-box; /* ensures padding doesn't break width */
    background: transparent;
    text-align: center;
}

.letter-field-input:focus {
    outline: none;
}
.button-cursor {
    cursor: pointer;
}

.locked-cursor {
    cursor: default;
}

.default {
    background-color: transparent;
}
.correct {
    background-color: var(--color-green);
}
.present {
    background-color: var(--color-yellow);
}
.absent {
    background-color: var(--color-grey);
}

