.letter-field-input {
  border: transparent;
  display: flex;
  max-width: 100%;
  background: transparent;
  text-align: center;
}

.letter-field-input:focus {
  outline: none;
}
.button-cursor {
  cursor: pointer;
}

.locked-cursor {
  cursor: default;
}

.default {
  background-color: var(--color-white);
}
.correct {
  background-color: var(--color-green);
}
.present {
  background-color: var(--color-yellow);
}
.absent {
  background-color: var(--color-bg-secondary);
}
